# OS junk files
.DS_Store
Thumbs.db

# Dependency directories
/vendor/
/node_modules/

# Environment & config files
config.php
.env

# Logs
*.log
error_log

# IDE/project settings
.vscode/
.idea/
*.swp
